<div {{ attributes }}>

    {{ form_start(form, {
    attr: {
    'data-action': 'live#action:prevent',
    'data-live-action-param': 'save'
    }
    }) }}

    {% if form_errors(form) %}
        <div class="info">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    {{ form_row(form.addAffixe) }}

    {% if form.affixe is defined %}
        <div>
            {% if form.affixe.name is defined %}
                {{ form_row(form.affixe.name) }}
                {{ form_row(form.affixe.affixeRegistration) }}
            {% else %}
                {{ form_row(form.affixe) }}
            {% endif %}
        </div>
    {% endif %}

    {% if form.raceCat is defined %}
        {{ form_row(form.raceCat) }}
    {% endif %}

    {% if form.raceDog is defined %}
        {{ form_row(form.raceDog) }}
    {% endif %}

    {% if form.addWebSite is defined %}
        {{ form_row(form.addWebSite) }}
    {% endif %}

    {% if form.addSelectWebSite is defined %}
        {{ form_row(form.addSelectWebSite) }}
    {% endif %}

    {% if form.webSite is defined %}
        {{ form_row(form.webSite) }}
    {% endif %}

    {{ form_rest(form) }}

    {% if form.addWebSite is defined %}
        <button data-action="live#action" data-live-action-param="save">Ajouter la race</button>
    {% endif %}

    {{ form_end(form) }}
</div>
